@use 'sass:map';
@use './color-variables';

// Font Family ---> usage => font-family: map.get($font-family, main);
$ta-font-family: (
  main: 'Inter, sans-serif',
  secondary: 'Inter, sans-serif',
);

// Breakpoints for responsive design
$ta-breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1536px,
);

// spacing -->  usage => padding: map.get($ta-spacing, 16);
$ta-spacing: (
  2: 0.125rem,
  4: 0.25rem,
  6: 0.375rem,
  10: 0.625rem,
  12: 0.75rem,
  14: 0.875rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  28: 1.75rem,
  36: 2.25rem,
  40: 2.5rem,
  64: 4rem,
  72: 4.5rem,
  80: 5rem,
  96: 6rem,
  112: 7rem,
);

// Box Shadow
$ta-box-shadow: (
  sm: 0 0 4px map.get(color-variables.$ta-colors, neutral-black, 300),
  m: 0 0 6px map.get(color-variables.$ta-colors, neutral-black, 300),
  drop: 0 0 8px map.get(color-variables.$ta-colors, neutral-black, base),
  focus: 0 0 4px 3px map.get(color-variables.$ta-colors, primary, 700),
);

// font sizes -----> usage => font-size: map.get($font-size, sm);
$ta-font-size: (
  5xl: 8rem,
  4xl: 6rem,
  3xl: 4.5rem,
  2xl: 3.75rem,
  xl: 3rem,
  l: 2.25rem,
  m: 1.875rem,
  sm: 1.5rem,
  s: 1.25rem,
  xs: 1rem,
);

// font weights -----> usage => font-weight: map.get($font-weight, bold);
$ta-font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  black: 900,
);

// Rating Colors ---> usage => color: map.get($ta-rating-colors, excellent);
$ta-rating-colors: (
  // 4.5+
  excellent: #1b5e20,
  // 3.9-4.4
  very-good: #388e3c,
  // 3.3-3.8
  good: #558b2f,
  // 2.8-3.2
  average: #7cb342,
  // 2.4-2.7
  below-average: #f9a825,
  // 1.9-2.3
  poor: #f57c00,
  // 1.4-1.8
  very-poor: #e53935,
  // 0-1.3
  terrible: #e53935,
  // fallback
  default: #303030
);

// Border Radius ---> usage => border-radius: map.get($ta-border-radius, full);
$ta-border-radius: (
  full: 100%,
  5xl: 28px,
  4xl: 24px,
  3xl: 20px,
  2xl: 16px,
  xl: 14px,
  l: 12px,
  m: 10px,
  sm: 6px,
  s: 4px,
  xs: 2px,
);

// Border Width ---> usage => border-width: map.get($ta-border-width, full);
$ta-border-width: (
  3xl: 10px,
  2xl: 8px,
  xl: 6px,
  l: 4px,
  m: 2px,
  s: 1px,
);
