.dashboard-layout {
  @include mixins.padding(16);
  @include mixins.margin(16);

  display: flex;
  flex-direction: column;
  gap: functions.get-spacing(20);
  border-radius: functions.get-border-radius(3xl);
  border: functions.get-border(m, var(--border-light), solid);
}
